*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

a{
    color: #262626;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.main-nav{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.main-nav .logo{
    width: 110px;
}

.main-nav ul{
    display: flex;
}

.main-nav ul li{
    padding: 0 10px;
}

.main-nav ul li a{
    padding-bottom: 2px;
}

.main-nav ul li a:hover{
    border-bottom: #262626 1px solid;
}

.main-nav ul.main-menu{
    flex: 1;
    margin-left: 20px;
}

.btn{
    cursor: pointer;
    display: flex;
    color: #fff;
    border: 0;
    border-radius: 28px;
    padding: 10px 20px;
    background: #197bde;
    font-size: 14px;
    margin-right: 20px;
}

.btn:hover{
    background-color: #2e84da;
}

.btn1{
    cursor: pointer;
    display: flex;
    color: #197bde;
    border: 1px solid #197bde;
    border-radius: 28px;
    padding: 10px 20px;
    background: #000;
    font-size: 14px;
}

.btn1:hover{
    background-color: #197bde;
    color: #fff;
}


/* Shwocase */

.showcase{
    width: 100%;
    height: 600px;
    background: url('./img/first_15_pro_hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-left: 552px;
    padding-bottom: 272px;
    margin-bottom: 20px;
    margin-top: 30px;
}


.btn2{
    cursor: pointer;
    display: flex;
    color: #fff;
    border: 0;
    border-radius: 28px;
    padding: 10px 20px;
    background: #197bde;
    font-size: 14px;
    margin-right: 19.5px;
}

.btn2:hover{
    background-color: #2e84da;
}

.btn3{
    cursor: pointer;
    display: flex;
    color: #197bde;
    border: 1px solid #197bde;
    border-radius: 28px;
    padding: 10px 20px;
    background: #f6f1f1;
    font-size: 14px;
}

.btn3:hover{
    background-color: #197bde;
    color: #fff;
}


/* Shwocase */

.showcase1{
    width: 100%;
    height: 600px;
    background: url('./img/mac_air.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-left: 552px;
    padding-bottom: 272px;
}

.btn4{
    cursor: pointer;
    display: flex;
    color: #fff;
    border: 0;
    border-radius: 28px;
    padding: 10px 20px;
    background: #197bde;
    font-size: 14px;
    margin-right: 20px;
}

.btn4:hover{
    background-color: #2e84da;
}

.btn5{
    cursor: pointer;
    display: flex;
    color: #197bde;
    border: 1px solid #197bde;
    border-radius: 28px;
    padding: 10px 20px;
    background: #000;
    font-size: 14px;
}

.btn5:hover{
    background-color: #197bde;
    color: #fff;
}


/* Shwocase */

.showcase2{
    width: 100%;
    height: 600px;
    background: url('./img/ipad_pro.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-left: 552px;
    padding-bottom: 272px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Home cards */

.home-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.home-cards img{
    width: 100%;
}

.wwdc {
    position: relative;
    display: flex;
  }
  
  .wwdc button {
    position: absolute;
    top: 87.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    background-color: #197bde;
    color: #fff;
    border-radius: 28px;

  }
  .wwdc button:hover {
    background-color: #2e84da;
  }

  .watch {
    position: relative;
    display: flex;
  }
  
  .watch button {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    background-color: #197bde;
    color: #fff;
    border-radius: 28px;
  }
  .watch button:hover {
    background-color: #2e84da;
  }

  .music {
    position: relative;
    display: flex;
  }
  
  .music button {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    background-color: #197bde;
    color: #fff;
    border-radius: 28px;

  }
  .music button:hover {
    background-color: #2e84da;
  }

  .college {
    position: relative;
    display: flex;
  }
  
  .college button {
    position: absolute;
    top: 87.6%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    background-color: #197bde;
    color: #fff;
    border-radius: 28px;
  }
  .college button:hover {
    background-color: #2e84da;
  }

  .vision_pro {
    position: relative;
    display: flex;
  }
  
  .vision_pro .but1 button {
    position: absolute;
    top: 87.4%;
    left: 44%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    background-color: #197bde;
    color: #fff;
    border-radius: 28px;

  }
  .vision_pro .but1 button:hover {
    background-color: #2e84da;
  }

  .vision_pro .but2 button {
    position: absolute;
    top: 87.4%;
    left: 58.8%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    background-color: #fff;
    color: #197bde;
    border: 1px solid #197bde;
    border-radius: 28px;

  }
  .vision_pro .but2 button:hover {
    background-color: #197bde;
    color: #fff;
  }

  .card {
    position: relative;
    display: flex;
  }
  
  .card .but3 button {
    position: absolute;
    bottom: 62%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    background-color: #197bde;
    color: #fff;
    border-radius: 28px;

  }
  .card .but3 button:hover {
    background-color: #2e84da;
  }

  .card .but4 button {
    position: absolute;
    bottom: 61.5%;
    left: 58.8%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    background-color: #fff;
    color: #197bde;
    border: 1px solid #197bde;
    border-radius: 28px;

  }
  .card .but4 button:hover {
    background-color: #197bde;
    color: #fff;
  }

  .marquee {
    display: flex;
    padding-top: 20px;
    block-size: var(--marquee-item-height);
    position: relative;
    overflow-x: hidden;
    mask-image: linear-gradient(
      to right,
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0)
    );
  }
    
  .marquee--6 {
    --marquee-item-width: 166px;
    --marquee-item-height: 250px;
    --marquee-duration: 32s;
    --marquee-items: 4;
  }
  
  .marquee__item {
    --marquee-item-offset: max(
      calc(var(--marquee-item-width) * var(--marquee-items)),
      calc(100% + var(--marquee-item-width))
    );
    --marquee-delay: calc(var(--marquee-duration) / var(--marquee-items) * (var(--marquee-items) - var(--marquee-item-index)) * -1);
    position: absolute;
    inset-inline-start: var(--marquee-item-offset);
    transform: translateX(-50%);
    animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
  }
  
  
  .marquee--6 .marquee__item:nth-of-type(1) {
    --marquee-item-index: 1;
  }
  
  .marquee--6 .marquee__item:nth-of-type(2) {
    --marquee-item-index: 2;
  }
  
  .marquee--6 .marquee__item:nth-of-type(3) {
    --marquee-item-index: 3;
  }
  
  .marquee--6 .marquee__item:nth-of-type(4) {
    --marquee-item-index: 4;
  }
  
  @keyframes go {
    to {  
      inset-inline-start: calc(var(--marquee-item-width) * -1);
    }
  }

.links{
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.links-inner{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.links-inner{
  padding-bottom: 20px;
  border-bottom: #26262691 1px solid;
}

.links-inner a:hover{
  padding: 2px;
  border-bottom: #262626 1px solid;
}

.links-inner h4{
  color: #121111d0;
}

.links li{
  line-height: 2;
}


.footer{
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
}

.footer-inner{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer div{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

